# ==================================================
# LIFECYCLE MANAGER
# ==================================================
lifecycle_manager_navigation:
  ros__parameters:
    use_sim_time: false
    autostart: true
    node_names:
      - controller_server
      - planner_server
      - bt_navigator
      - behavior_server
      - waypoint_follower
      - velocity_smoother

# ==================================================
# MAP SERVER
# ==================================================
map_server:
  ros__parameters:
    use_sim_time: false
    yaml_filename: "/home/pg/ros2_ws/src/robot_bringup/maps/my_map3.yaml"

# ==================================================
# AMCL
# ==================================================
amcl:
  ros__parameters:
    use_sim_time: false
    base_frame_id: base_link
    odom_frame_id: odom
    global_frame_id: map
    scan_topic: scan

# ==================================================
# BT NAVIGATOR
# ==================================================
bt_navigator:
  ros__parameters:
    use_sim_time: false
    global_frame: map
    robot_base_frame: base_link

# ==================================================
# PLANNER
# ==================================================
planner_server:
  ros__parameters:
    use_sim_time: false
    planner_plugins: ["GridBased"]

    GridBased:
      plugin: "nav2_navfn_planner/NavfnPlanner"

# ==================================================
# CONTROLLER
# ==================================================
controller_server:
  ros__parameters:
    use_sim_time: false
    controller_frequency: 20.0

    cmd_vel_topic: cmd_vel
    odom_topic: odom

    controller_plugins: ["FollowPath"]
    progress_checker_plugins: ["progress_checker"]
    goal_checker_plugins: ["goal_checker"]

    progress_checker:
      plugin: "nav2_controller::SimpleProgressChecker"
      required_movement_radius: 0.5
      movement_time_allowance: 10.0

    goal_checker:
      plugin: "nav2_controller::SimpleGoalChecker"
      xy_goal_tolerance: 0.25
      yaw_goal_tolerance: 0.25
      stateful: true

    FollowPath:
      plugin: "nav2_regulated_pure_pursuit_controller::RegulatedPurePursuitController"
      desired_linear_vel: 0.2
      lookahead_dist: 0.6
      transform_tolerance: 0.2


# ==================================================
# BEHAVIOR
# ==================================================
behavior_server:
  ros__parameters:
    use_sim_time: false

# ==================================================
# WAYPOINT FOLLOWER
# ==================================================
waypoint_follower:
  ros__parameters:
    use_sim_time: false

# ==================================================
# VELOCITY SMOOTHER
# ==================================================
velocity_smoother:
  ros__parameters:
    use_sim_time: false


# ==================================================
# Local cost map
# ==================================================
local_costmap:
  local_costmap:
    ros__parameters:
      use_sim_time: false
      global_frame: odom
      robot_base_frame: base_link
      update_frequency: 5.0
      publish_frequency: 2.0
      rolling_window: true
      width: 3.0
      height: 3.0
      resolution: 0.05

      plugins: ["obstacle_layer", "inflation_layer"]

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: scan
        scan:
          topic: scan
          max_obstacle_height: 2.0
          clearing: true
          marking: true
          data_type: "LaserScan"

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.4


# ==================================================
# Global Costmap
# ==================================================

global_costmap:
  global_costmap:
    ros__parameters:
      use_sim_time: false
      global_frame: map
      robot_base_frame: base_link
      update_frequency: 1.0
      publish_frequency: 1.0
      resolution: 0.05

      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]

      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: scan
        scan:
          topic: scan
          max_obstacle_height: 2.0
          clearing: true
          marking: true
          data_type: "LaserScan"

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.5

